Package: kr.iolate.simulatetouch
Name: SimulateTouch
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: Simulate fake touch. Support multi-touch and swipe.
Maintainer: iolate
Author: iolate
Section: System
